<phpunit bootstrap="tests/Bootstrap.php"
         colors="true"
         verbose="true"
         backupGlobals="false"
         backupStaticAttributes="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Mailing">
            <directory suffix=".php">./tests/MailingTest</directory>
        </testsuite>
    </testsuites>
</phpunit>
